@import 'bootstrap/dist/css/bootstrap.min.css';

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rebeccapurple;
    padding: 15px;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.6);

    &__title h1 {
      color: white;
      font-size: 30px;
      margin: 0;
    }

    &__links {

      &--link {
        text-decoration: none;
        margin: 0 15px;
        color: white;
        font-size: 20px;

        &:hover {
          transition: 0.5s;
          text-shadow: 4px 4px 12px #e7cc34
        }
      }
    }
  }
