<nav>
  <div class="navbar-container">
    <div class="navbar-container__title">
      <h1>Work Time Monitor</h1>
    </div>
    <div class="navbar-container__links">
      <a class="navbar-container__links--link" routerLink="/">Home</a>
      <a class="navbar-container__links--link" routerLink="/cadastro-membros">Cadastro de Membros</a>
      <a class="navbar-container__links--link" routerLink="/gerenciamento-horas">Gerenciamento de Horas</a>
      <a class="navbar-container__links--link" routerLink="/resumo">Resumo</a>
    </div>
  </div>
</nav>
