<section class="section-container">
    <div class="section-container__title">
        <h1 class='fs-1'>Resumo do total de horas trabalhadas e valor recebido</h1>
    </div>
    <div class="section-container__content">
        <form class="section-container__content-form d-flex justify-content-center gap-3 mb-5" (ngSubmit)="getWorkHoursSummary()">
            <mat-form-field appearance="outline">
                <mat-select placeholder="Selecione um usuário" name="month" [(ngModel)]="selectedMonth" (selectionChange)="onMonthSelected()">
                    <mat-option *ngFor="let month of months" [value]="month.value">
                        {{ month.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <button class="section-container__button" type="submit">Filtrar</button>
        </form>
    </div>
    <!-- <div *ngIf="summaryVisible" class="section-container__result">
        <h2>Resumo de {{ selectedMonth }}</h2>
        <p>Total de horas trabalhadas: {{ totalHours }}hrs</p>
        <p>Total recebido: R$ {{ totalEarned | number:'1.2-2' }}</p>
    </div> -->

    <table *ngIf="summaryVisible" class="section-container__result">
        <thead>
            <tr>
                <th>Total de horas trabalhadas</th>
                <th>Total recebido</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ totalHours }}</td>
                <td>R$ {{ totalEarned | number:'1.2-2' }}</td>
            </tr>
        </tbody>
    </table>
</section>
  