<section>
    <div class="title">
      <h1>Cadastro de Membros da equipe</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="cadastrar()" class="form d-flex justify-content-center gap-3">
      <mat-form-field appearance="outline">
        <mat-label>Digite seu nome</mat-label>
        <input matInput type="text" formControlName="nome">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Digite sua data de nascimento</mat-label>
        <input matInput type="date" formControlName="birthdate">
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Digite seu e-mail</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
  
      <button mat-raised-button type="submit">Cadastrar</button>
    </form>
  </section>
  