<section class="section-container">
  <div class="section-container__header">
    <h1>Bem-vindo ao Work Time Monitor</h1>
    <p>Gerencie eficientemente as horas trabalhadas e os membros da sua equipe.</p>
  </div>

  <div class="section-container__cards">
    <div class="card">
      <h3>Cadastrar Devs</h3>
      <p>Adicione novos membros à equipe.</p>
      <button routerLink="/cadastro-membros">Ir para Cadastro</button>
    </div>
    <div class="card">
      <h3>Apontamento de Horas</h3>
      <p>Registre as horas trabalhadas.</p>
      <button routerLink="/gerenciamento-horas">Ir para Gerenciamento</button>
    </div>
    <div class="card">
      <h3>Resumo de Horas</h3>
      <p>Veja o total de horas trabalhadas.</p>
      <button routerLink="/resumo">Ir para Resumo</button>
    </div>
  </div>
</section>
