.footer-container {
    text-align: center;
    padding: 10px;
    background-color: #0c0636;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

    &__p {
        margin: 0;
    }

    p > a {
        text-decoration: none;
    }
}